// Variables
// ================================================

// colors
$color-brand: #df9a2f;

// visual grid
$visual-grid: false;

// type
$font-path: '/assets/fonts/';
$font-heading: 'futura-pt', 'Proxima Nova', Helvetica, Arial, sans-serif;
$font-body: 'abril-text', Georgia, Times, serif;